.i-clock {
  background: url("../icon/time.svg");
  width: 40px;
  height: 40px;
}
.i-first-aid {
  background: url("../icon/first-aid.svg");
  width: 30px;
  height: 30px;
}
.i-file {
  background: url("../icon/file.svg");
  width: 30px;
  height: 30px;
}
.i-book {
  background: url("../icon/book.svg");
  width: 30px;
  height: 30px;
}
.i-man {
  background: url("../icon/man.svg");
  width: 30px;
  height: 30px;
}
.i-setting {
  background: url("../icon/setting.svg");
  width: 40px;
  height: 40px;
}
.i-calendar {
  background: url("../icon/calendar.svg");
  width: 30px;
  height: 30px;
}
.i-like {
  background: url("../icon/like.svg");
  width: 30px;
  height: 30px;
}
.i-users {
  background: url("../icon/users.svg");
  width: 30px;
  height: 30px;
}
.i-wallet {
  background: url("../icon/wallet.svg");
  width: 30px;
  height: 30px;
}
.i-phone {
  background: url("../icon/phone.svg");
  width: 30px;
  height: 30px;
}
.i-user-frame {
  background: url("../icon/user-frame.svg");
  width: 30px;
  height: 30px;
}
.i-medkit {
  background: url("../icon/medkit.svg");
  width: 30px;
  height: 30px;
}
.i-review {
  background: url("../icon/review.svg");
  width: 30px;
  height: 30px;
}
.i-star {
  background: url("../icon/star.svg");
  width: 30px;
  height: 30px;
}
.i-google-play {
  background: url("../icon/google-play.svg");
  width: 172px;
  height: 51px;
}
.i-app-store {
  background: url("../icon/appstore.svg");
  width: 172px;
  height: 51px;
}
.i-app-gallery {
  background: url("../icon/app-gallery.svg");
  width: 172px;
  height: 51px;
}
.i-bell {
  background: url("../icon/bell.svg");
  width: 48px;
  height: 48px;
}
.i-pin {
  background: url("../icon/pin.svg");
  width: 48px;
  height: 48px;
}
.i-review-blue {
  background: url("../icon/review-blue.svg");
  width: 48px;
  height: 48px;
}
.i-file-text {
  background: url("../icon/file-text.svg");
  width: 48px;
  height: 48px;
}
.i-mail {
  background: url("../icon/mail.svg");
  width: 24px;
  height: 24px;
}
.i-arrow-left {
  background: url("../icon/arrow-left.svg");
  width: 24px;
  height: 24px;
}
.i-arrow-right {
  background: url("../icon/arrow-right.svg");
  width: 24px;
  height: 24px;
}
.i-youtube-stroke {
  background: url("../icon/youtube-stroke.svg");
  width: 24px;
  height: 24px;
}
.i-calendar-dark {
  background: url("../icon/calendar-dark.svg");
  width: 24px;
  height: 24px;
}