//desktops
@media (max-width: 1399.98px) {

}

//desktops
@media (max-width: 1199.98px) {
  //header
  .logo {
    margin-bottom: 5px;
  }
  .logo img {
    max-width: 116px;
  }
  .mobile-header {
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .lang-toggle {
    order: 1;
  }
  .media-list {
    display: flex;
    order: 2;
    gap: 10px;
    margin-left: 38px;
  }
  .tablet-menu {
    order: 3;
    margin-top: 20px;
  }
  .header-nav {
    gap: 10px;
  }
  .header-app-btn {
    order: 4;
    margin-left: 10px;
    margin-top: 20px;
  }
  .header-nav-link {
    font-size: 12px;
  }
  .header-row {
    align-items: flex-end;
    padding: 30px 0;
  }


  //hero
  .hero-social {
    display: none;
  }


  //ai-assistant
  .ai-assistant-left img {
    width: 232px;
    height: 232px;
  }


  //cta
  .cta-left h2 {
    font-size: 32px;
    line-height: 38.4px;
    letter-spacing: -0.96px;
  }
  .qr-code-text {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.36px;
  }

}

//tablets
@media (max-width: 991.98px) {
  //header
  .header-row {
    padding: 46.5px 0;
    gap: 40px;
  }
  .logo {
    margin: 0;
  }
  .lang-toggle {
    margin: 0;
  }
  .header-app-btn {
    margin: 0;
  }
  .mobile-header {
    flex: 1;
    justify-content: space-between;
  }
  .show-mobile-menu {
    display: flex;
  }
  .media-list {
    margin: 0;
  }
  .tablet-menu {
    position: fixed;
    width: 385px;
    height: 100%;
    overflow-y: auto;
    margin: 0;
    top: 0;
    right: 0;
    transform: translateX(385px);
    transition: 0.3s ease;
    background: #fff;
    padding: 120px 60px;
    z-index: 1;
    &.show {
      transform: translateX(0);
    }
  }
  .header-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    &.show {
      display: block;
    }
  }
  .close-mobile-menu {
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 47px;
    right: 40px;
  }
  .header-nav {
    flex-direction: column;
    gap: 0;
  }
  .header-nav-link {
    padding: 16.5px 20px;
    border-radius: 0;
    border-bottom: 1px solid #E2EAF9;
    color: #0E46A4;
    font-size: 14px;
    font-weight: 500;
  }
  .header-app-btn-md {
    display: inline-block;
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
    font-size: 18px;
    padding: 17px 30px;
  }


  //footer
  .footer-top {
    flex-wrap: wrap;
  }
  .footer-logo {
    order: 1;
  }
  .footer-nav {
    order: 3;
    width: 100%;
    margin-top: 40px;
    justify-content: center;
  }
  .footer-social {
    order: 2;
  }
  .footer-bottom {
    flex-direction: column;
    gap: 40px;
  }
  .footer-secondary-nav {
    order: 1;
    margin: 0;
  }
  .copyright {
    order: 2;
  }


  //hero
  .hero-content-title {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1.2px;
  }


  //about
  .about {
    padding: 90px 0;
  }
  .about-content {
    display: block;
  }
  .about-left {
    width: 100%;
    position: relative;
    padding: 122px 335px 122px 0;
    img {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      margin: 0;
      width: 294px;

    }
  }
  .about-right {
    margin-top: 32px;
    width: 100%;
  }
  .about-release {
    margin-top: 21px;
  }


  //ai-assistant
  .ai-assistant {
    padding: 100px 0;
  }
  .ai-assistant-content {
    position: relative;
  }
  .ai-assistant-left {
    position: absolute;
    left: 0;
    top: 0;
    img {
      width: 204px;
      height: 204px;
    }
  }
  .ai-assistant-right h2 {
    padding-left: 236px;
    font-size: 36px;
    line-height: 43.2px;
    letter-spacing: -1.08px;
  }
  .ai-assistant-right ul {
    margin-top: 56px;
    padding: 20px 20px 20px 0;
  }


  //adgantages
  .advantages-grid {
    grid-template-columns: 1fr 1fr;
  }
  .advantage-item:first-child {
    grid-column: span 2;
    padding: 37px 30px;
  }


  //how-it-works
  .how-it-works-steps {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .how-it-works-step {
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }


  //sos
  .sos-content {
    display: block;
  }
  .sos-left {
    width: 100%;
  }
  .sos-left h2 {
    font-size: 36px;
    line-height: 43.2px;
    letter-spacing: -1.08px;
  }
  .sos-right img {
    height: 465px;
    width: auto;
    display: block;
    margin: 0 auto -100px;
  }


  //sub
  .sub-container {
    width: 100%;
    padding: 57px 60px 56px 157px;
    background-position: left center;
    background-size: 210px 210px;
  }
  .sub-container h2 {
    font-size: 32px;
    line-height: 38.4px;
    letter-spacing: -0.96px;
    text-align: left;
  }
  .sub-container p {
    text-align: left;
  }


  //news
  .news-navigation {
    display: none;
  }
  .news .outline-btn {
    display: none;
  }


  //cta
  .cta-content {
    display: block;
  }
  .cta-left {
    width: 554px;
    margin: 0 auto;
    h2 {
      text-align: center;
    }
    p {
      text-align: center;
    }
  }
  .cta .app-list {
    justify-content: center;
  }
  .cta-right {
    margin: 50px auto 0;
  }

}

//phones
@media (max-width: 767.98px) {
  //header
  .mobile-header {
    position: fixed;
    top: 0;
    right: 0;
    width: 325px;
    height: 100%;
    overflow-y: auto;
    background: #fff;
    padding: 120px 30px 30px;
    transition: 0.3s ease;
    transform: translateX(325px);
    z-index: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    flex-wrap: nowrap;
    &.show {
      transform: translateX(0);
    }
  }
  .header-row {
    justify-content: space-between;
    min-height: 70px;
    padding: 18px 0;
  }
  .logo img {
    width: 109px;
  }
  .show-mobile-menu img {
    width: 37px;
  }
  .tablet-menu {
    position: static;
    width: 100%;
    height: fit-content;
    overflow-y: initial;
    transform: none;
    padding: 0;
    order: 1;
  }
  .close-mobile-menu {
    right: 10px;
  }
  .lang-toggle, .header-app-btn-md {
    display: none;
  }
  .header-app-btn {
    width: 100%;
    font-size: 18px;
    line-height: 130%;
    order: 2;
  }
  .media-list {
    order: 4;
  }
  .media-link img {
    display: none;
  }
  .media-link img.visible-sm {
    display: block;
  }
  .lang-toggle-sm {
    display: flex;
    gap: 10px;
    order: 3;
  }
  .lang-toggle-link {
    width: 60px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #E2EAF9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #A1B1D3;
    letter-spacing: -0.54px;
    &:hover {
      color: #A1B1D3;
    }
    &.active {
      background: #E2EAF9;
      color: #0E46A4;
    }
  }


  //footer
  .footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-logo img {
    width: 201px;
  }
  .footer-social {
    margin-top: 32px;
  }
  .footer-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
  .footer-secondary-nav {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
  }


  //hero
  .hero {
    padding: 0 0 126px;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
  }
  .hero-phone {
    order: 1;
    margin: 0;
    width: 100%;
    img.hero-image {
      display: none;
    }
    img.hero-image-sm {
      display: block;
      margin-top: -25px;
    }
  }
  .hero-content-title {
    order: 2;
    margin-top: 40px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.6px;
  }
  .hero-content-description {
    order: 3;
  }
  .hero-phone-text {
    padding: 2px 5px;
    font-size: 8px;
    line-height: 120%
  }
  .hero-phone-text {
    &:nth-child(odd) {
      border-radius: 5px 5px 0 5px;
    }
    &:nth-child(even) {
      border-radius: 5px 5px 5px 0;
    }
    &:nth-of-type(1) {
      top: 12%;
    }
    &:nth-of-type(2) {
      top: 23%;
    }
    &:nth-of-type(3) {
      top: 30%;
    }
    &:nth-of-type(4) {
      top: 36%;
    }
    &:nth-of-type(5) {
      top: 47%;
    }
    &:nth-of-type(6) {
      top: 47%;
    }
    &:nth-of-type(7) {
      top: 57%;
    }
    &:nth-of-type(8) {
      top: 60%;
    }
  }


  //about
  .about {
    padding: 90px 0 66px;
  }
  .about-left {
    padding: 0;
  }
  .about-left h2 {
    text-align: center;
  }
  .about-left p {
    text-align: center;
  }
  .about-left img {
    position: static;
    transform: none;
    margin: 40px auto 0;
  }
  .about-release {
    margin: 45px -10px 0;
    border-radius: 0;
    width: calc(100% + 20px);
  }


  //ai-assistant
  .ai-assistant {
    padding: 100px 0 48px;
  }
  .ai-assistant-content {
    display: block;
  }
  .ai-assistant-left {
    position: static;
  }
  .ai-assistant-left img {
    display: block;
    margin: 0 auto;
  }
  .ai-assistant-right {
    margin-top: 32px;
  }
  .ai-assistant-right h2 {
    padding: 0;
    font-size: 24px;
    line-height: 28.8px;
    letter-spacing: -0.72;
    text-align: center;
  }
  .ai-assistant-right ul {
    margin-top: 24px;
  }


  //advantages
  .advantages-content h2 {
    font-size: 36px;
    line-height: 43.2px;
    letter-spacing: -1.08px;
    text-align: center;
  }
  .advantages-grid {
    display: flex;
    flex-direction: column;
  }
  .advantage-item {
    padding: 20px!important;
    border-radius: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    gap: 17.5px;
  }
  .advantage-item i {
    width: 40px!important;
    height: 40px!important;
    position: absolute;
    left: 20px;
    top: 13px;
  }
  .advantage-item strong {
    margin-left: 50px;
  }
  .advantage-item p {
    width: 100%;
  }


  //how-it-works
  .how-it-works-notice {
    text-align: center;
    padding: 4px 15px;
  }
  .how-it-works-content h2 {
    text-align: center;
    font-size: 36px;
    line-height: 43.2px;
    letter-spacing: -1.08px;
  }
  .app-list {
    justify-content: center;
  }
  .app-link i {
    width: 105px;
  }


  //sos
  .sos {
    padding: 90px 0;
  }
  .sos-left h2 {
    font-size: 24px;
    line-height: 28.8px;
    letter-spacing: -0.72px;
    text-align: center;
  }
  .sos-item {
    flex-direction: column;
    gap: 24px;
    align-items: center;
  }
  .sos-item-caption strong {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  .sos-item-caption p {
    text-align: center;
  }
  .sos-right img {
    margin: 20px auto -100px;
  }


  //sub
  .sub-container {
    padding: 30px 20px;
    background-image: none;
  }
  .sub-container h2 {
    font-size: 22px;
    line-height: 30.8px;
    letter-spacing: 0;
  }
  .sub-form {
    display: block;
    input {
      width: 100%;
    }
  }
  .sub-btn {
    width: 100%;
    margin-top: 24px;
  }


  //news
  .news .outline-btn {
    display: flex;
    width: fit-content;
    margin-top: 10px;
  }
  .news-top {
    display: block;
  }
  .news-list {
    margin-top: 40px;
  }
  .news-navigation {
    display: flex;
  }


  //cta
  .cta {
    padding: 60px 0;
  }
  .cta-left {
    width: 100%;
  }
  .cta-left h2 {
    font-size: 24px;
    line-height: 33.6px;
    letter-spacing: 0;
    text-align: center;
  }
}

